
<div class="card">
    <div class="card-header">
        <h2 class="text-center">Entre no Blog Node.JS</h2>
    </div>
    <div class="card-body">
        <form action="/users/login" method="POST">
            <label for="email">E-mail:</label>
            <input type="email" name="email" class="form-control mb-4" required>

            <label for="password">Senha:</label>
            <input type="password" name="password" class="form-control mb-4" required>

            <button type="submit" class="btn btn-success">Entrar</button>
        </form>
        <br>
        <span>Não possui conta? </span><a href="/users/register">Resgistre-se aqui!</a>
    </div>
</div>